<h1>About Us</h1>
<p>
  <b>microBlogger</b> is a microblogging platform (imagine that!) written in Ruby   and build on the incredibly versatile Ruby on Rails development framework. It is a proof of concept project that lead developer Blake wrote in his free time, and will not be positioned for production use. Mostly because Blake doesn't want to be sued by <a href="http://twitter.com">Twitter</a>.
  <br />
  Enjoy!
</p>